# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Popular languages that Data Scientists use
- Commonly used libraries by Data Scientists
- Data Science Tools
- Arithmetic expressions in python

Some of the popular languages that Data Scientists use are:
1. Python
2. Scala
3. R
4. SQL

Some of the commonly used libraries used by Data Scientists include:
1. numpy
2. pandas
3. matplotlib
4. seaborn
5. keras

|Data Science Tools|
|------------------|
|Jupyter Notebooks |
|R Studio          |
|Apache Spark      |
|Anaconda          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# this a simple arithmetic expression to mutiply then add integers
res = (3*4)+5
print(res)

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
hrs = 200 / 60
print(hrs)

3.3333333333333335

## Author: 
Vaibhavi Chincholkar